@using DataAccess.Enums;
@model UserModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Edit User";
}

<h1>@ViewData["Title"]</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mb-3">
                <label asp-for="UserName" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="UserName" class="form-control" placeholder="Enter user name..." />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Password" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Password" class="form-control" type="password" placeholder="Password is not shown for security." />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<label asp-for="IsActive" class="col-2 col-form-label"></label>
				<div class="col-5" style="padding-top: 7px;">
					<input class="form-check-input" asp-for="IsActive" />
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Status" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="Status" class="form-select">
						<option value="@((int)Statuses.Junior)">@Statuses.Junior</option>
						<option value="@((int)Statuses.Senior)">@Statuses.Senior</option>
						<option value="@((int)Statuses.Master)">@Statuses.Master</option>
					</select>
					<span asp-validation-for="Status" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="RoleId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="RoleId" class="form-select" asp-items="ViewBag.RoleId">
						<option value="">-- Select --</option>
					</select>
					<span asp-validation-for="RoleId" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="GetList">Back to List</a>
				</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
	@* For Client-Side Validation: Validation with the browser using Javascript (jQuery Validation) *@
	@* Way 1: *@
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
	@* Way 2: *@
	<partial name="_ValidationScriptsPartial" />
}



